.test1{
    background-color:red;
}

.test2{
    background-color:yellow;
}

.blocA{
    width: 10%;
    min-height: 500px;
    background: purple;
}

.blocB{
    width: 90%;
}

.contenir{
    display:flex;
   
}

.postIt{
    background-color:goldenrod;
    height: 150px;
    width: 150px;
    color: black;
}

/** PAGE ROMAN **/

/* la partie concernant l'en-tête */
.blocEntete{
    background: greenyellow;
    display:flex;
    height: 250px;
}

.infosRoman{
    background:hotpink;
    width: 35%;
}

#descriptionRoman{
    max-height: 130px;
    font-size: 14px;
    text-align: justify;
    overflow:auto;
}

.blocImageRoman{
    background: aquamarine;
    width:10%;
}

#imgCouvRoman{
    max-height: 250px;
}

.infosRoman2{
    background: burlywood;
    width:57%;
}

.infosChap{
    height: 240px;
    overflow:auto;
    font-size :14px;
}

/* la partie concernant le container */
.blocContainer{
    background: cadetblue;
    display: flex;
    min-height: 700px;
}

/* les bloc fiches */
.blocFiches{
    background:chocolate;
    width: 40%;
}

/* le bloc pour écrire */
.blocEcire{
    background: cornflowerblue;
    width: 60%;
    
}


/* les onglets */
.ongletsFiches{
    background: seagreen;
}