.tab-content{
    display:none;
}

.tabs {
	text-align: center;
	background: aliceblue;
}

.tab-content.active{
    display:block;
}

.tabs .active a{
    color: indianred;
}

ul{
    display:flex;
    list-style:none;
}

ul .active{
    background: yellow;
}

li{
    width: 150px;
}

/**** ON FAIT DES TESTS ***/

.container-onglets{
    width:100%;
    background-color: rosybrown;
    height: 640px;
    overflow:auto;
}