{% extends 'template1.html.twig' %}
{% block body %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/tabs.css') }}">
    <title>Système d'onglets</title>
</head>

{# L'EN-TÊTE, on y met les informations générales du roman, ainsi que son image #}
<div class="blocEntete">
    <div class="infosRoman">
        <h2> {{ roman.titreRoman }} </h2>
        <p id="descriptionRoman"> {{ roman.descriptionRoman }} </p>
    </div>

    <div class="blocImageRoman">
        <img src="{{ asset('uploads/' ~ roman.imageRoman) }}" id="imgCouvRoman">
    </div>

    <div class="infosRoman2">
        <div class="infosChap">
            {% for chapitres in planChapitre %}
                <p>{{chapitres.titrePlanChapitre}}</p>
                <p>{{chapitres.planChapitre}}</p>
            {% endfor %}
        </div>

    </div>{# fin du bloc infosRoman2 #}
</div> {# fin du bloc en-tête #}

{# FIN DE L'EN-TÊTE #}

{# LE BLOC CONTAINER, contient le reste, notamment les fiches et l'éditeur de texte #}
<div class="blocContainer">
    <div class="blocFiches">

{############## DEBUT DU CODE AVEC LES ONGLETS  ####################}

        <div class="container-onglets"> {# Une div global pour contenir absolument tout le code concernant les contenants des onglets #}
        
            <div class="tabs-content"> {# tabs-content contient l'ensemble des contenus des onglets #}

                <div class="tab-content active" id="personnage"> {# tab-content est LE contenu d'UN onglet #}
                    <form>
                        <select name="Personnage" id="personnage-select">
                            {% for perso in roman.romanPersonnage %}
                                <option value="{{perso}}" id="{{perso}}">{{perso.prenom}} {{perso.nom}}</option>
                            {% endfor %}
                        </select>
                        <input type="submit">
                    </form>
                        
                    {% include 'Onglets/ongletPersonnage.html.twig' %}  
                </div>

                <div class="tab-content" id="pouvoir"> 

                </div>

                <div class="tab-content" id="lieu"> 
                    Ceci est la partie concernant les lieux 
                </div>

                <div class="tab-content" id="objet"> 
                    Ceci est la partie concernant les objets 
                </div> 

                <div class="tab-content" id="bestiaire"> 
                    Ceci est la partie concernant le bestiaire 
                </div>

            </div> {# fin du bloc tabs-content #}
        </div> {# fin du bloc container-onglets #}

        <ul class="tabs"> {# concerne les "liens" des onglets #}

            <li class="active"> 
                <a href="#personnage">Personnages</a>
            </li>

            <li> 
                <a href="#pouvoir">Pouvoirs</a>
            </li>

            <li>
                <a href="#lieu">Lieux</a>
            </li>

            <li> 
                <a href="#objet">Objets</a>
            </li>

            <li> 
                <a href="#bestiaire">Bestiaire</a>
            </li>
        </ul>
<script src="{{ asset('css/tabs.js') }}"> </script>
{############## FIN DU CODE CONCERNANT LES ONGLETS. LE SCRIPT EST IMPORTANT  ######}
    </div>{# Cette div indique la fin du blocFiches. Enfin... normalement. A revérifier #}
    
    <div class="blocEcire">
        {{ form(form)  }}
    </div>
</div>
{# FIN DU BLOC CONTAINER #}



{% include 'footer.html.twig' %} 
{% endblock body %}

