<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
            {% endblock stylesheets %}
    </head>

    <body>
    
    
        {% block navigation %}
                <div class="test1">TEST TEMPLATE 1 BLOCK NAVIGATION</div>
        {% endblock navigation %}
        
        <div class="contenir">

    <div class="blocA">
        {% block sidebar %}
            <div class="test2">BLOCK SIDEBAR</div>

            <div class="postIt">Le post-it</div>
        {% endblock sidebar %}
    </div>

    <div class="blocB">
        {% block body %}
    {% endblock body %}
    </div>

    </div>

    
    </body>
</html>
