<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/tabs.css') }}">
    <title>Système d'onglets</title>
</head>
<body>
    <div class="container-onglets">
        
        <div class="tabs-content">
            <div class="tab-content active" id="personnage"> 
Bloups            </div>
            <div class="tab-content" id="pouvoir"> Ceci est la partie concernant les pouvoirs
                {% block pouvoir %} 

                {% endblock %} 
            </div>
            <div class="tab-content" id="lieu"> Ceci est la partie concernant les lieux 
                {% block lieu %} 
            {% include 'template1.html.twig' %}
                {% endblock %} 
            </div>
            <div class="tab-content" id="objet"> Ceci est la partie concernant les objets 
                {% block objet %} 
                {% include 'testOnglets.html.twig' %}
                {% endblock %}
            </div> 
            <div class="tab-content" id="bestiaire"> Ceci est la partie concernant le bestiaire 
                {% block bestiaire %} 
                
                {% endblock %} 
            </div>
        </div>
         </div>
        <ul class="tabs"> 
            <li class="active"> <a href="#personnage">Personnages</a></li>
            <li> <a href="#pouvoir">Pouvoirs</a></li>
            <li> <a href="#lieu">Lieux</a></li>
            <li> <a href="#objet">Objets</a></li>
            <li> <a href="#bestiaire">Bestiaire</a></li>
        </ul>
   
    


    <script src="{{ asset('css/tabs.js') }}"> </script>
  
</body>
</html>

