    {% for p in roman.romanPersonnage %} 
    {% set foo = app.request.get('Personnage') %}
            {% if p.prenom == foo %}
        <div id="here">
            {{p.prenom}} {{p.nom}}
            {{p.ageReelPersonnage}}
        </div>

            {% endif %}
    {% endfor %}


<p id="demo"></p>

<script>
document.getElementById("demo").innerHTML =
"Page path is: " + window.location.pathname;
</script>